.main-navigation{
	@include rem(12);
  padding-top: 30px;
	&__item{
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    display: block;
    padding: em(15) em(15) em(15) em(40);
    transition: all 0.2s ease-out;
    position: relative;
    backface-visibility: hidden;
    transform: translateZ(0);
    &:hover,
    &:focus{
      color: white;
    }
		&.is-active,
    &:hover{
      border-left: 4px solid white;
      &:before{
        transform: scaleX(1);
      }
		}
    &:before{
      background-color: #2C3E50;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform 0.3s ease-out;
      z-index: -1;
    }
	}
  &__rule{
    margin-left: em(30);
    margin-right: em(30);
  }
}

.side-social{
  padding: em(10) em(15) em(10) em(35);
  color: white;
  > a{
    color: white;
    transition: all 0.2s ease-out;
    &:hover{
      color: #2C3E50;
    }
  }
}

.social-box{
  @include rem;
  &__title{
    font-size: em(12);
    margin-bottom: $half-spacing-unit;
  }
  > a + a{
    display: inline-block;
    margin-left: em(2px);
  }
}
