.icon-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }

[class^="icon-"], [class*=" icon-"] {
  font-family: $font-family-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plataforma:before {
  content: "\e90b";
}
.icon-campounad:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-descargar:before {
  content: "\e902";
}
.icon-educacion-basica-media:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-inicio:before {
  content: "\e905";
}
.icon-mediosunad:before {
  content: "\e906";
}
.icon-noticias:before {
  content: "\e907";
}
.icon-objetivos:before {
  content: "\e908";
}
.icon-observatorio:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}



