@font-face {
  font-family: 'campounad';
  src:  url('../fonts/campounad.eot?affhtd');
  src:  url('../fonts/campounad.eot?affhtd#iefix') format('embedded-opentype'),
    url('../fonts/campounad.ttf?affhtd') format('truetype'),
    url('../fonts/campounad.woff?affhtd') format('woff'),
    url('../fonts/campounad.svg?affhtd#campounad') format('svg');
  font-weight: normal;
  font-style: normal;
}