@font-face {
  font-family: 'campounad';
  src:  url('../fonts/campounad.eot?affhtd');
  src:  url('../fonts/campounad.eot?affhtd#iefix') format('embedded-opentype'),
    url('../fonts/campounad.ttf?affhtd') format('truetype'),
    url('../fonts/campounad.woff?affhtd') format('woff'),
    url('../fonts/campounad.svg?affhtd#campounad') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'kaushan';
    src: url('../fonts/kaushan.eot');
    src: url('../fonts/kaushan.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaushan.woff2') format('woff2'),
         url('../fonts/kaushan.woff') format('woff'),
         url('../fonts/kaushan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}