.container{
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 0 $half-spacing-unit;
  @media #{$small} {
  	padding: 0 $base-spacing-unit;
  }
}

.l{
  &-main{
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  &-side{
    width: 260px;
    background-color: #3279A8;
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: -260px;
    transition: all 0.2s ease-out;
    &.is-active{
      left: 260px;
    }
  }
}

@media #{$medium} {
  .l{
    &-content{
      padding: 20px;
    }
  }
}

@media screen and (min-width: 950px) {
  .l{
    &-main{
      width: 100%;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
    }
    &-side,
    &-content{
      display: table-cell;
      vertical-align: top;
    }
    &-side{
      position: static;
      left: 260px;
    }
  }
}

@media screen and (min-width: 1140px) {
    .l{
      &-main{
        width: 1140px;
      }
      &-content{
      padding: 40px 0 0 40px;

      }
    }
}
